<div class="panel container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-md-6 ">
      <div class="row">
        <h2 class="intro-title">مرحبا بكم في بوابة الدرونز</h2>
      </div>
      <div class="row">
        <p class="intro-desc">
          تقدم البوابة العديد من الخدمات الفريدة لكل المهتمين بطائرات الدرونز
        </p>
      </div>
      <div class="row">
        <div class="row">
          <a href="/home#events" class="col panel-link">
            <img
              src="../../../assets/icons/intro-calendar-icon.png"
              class="img-fluid"
              alt="..."
            />
            الفعاليات
          </a>
          <a href="/home#training" class="col panel-link">
            <img
              src="../../../assets/icons/intro-suitcase-icon.png"
              class="img-fluid"
              alt="..."
            />
            التدريب
          </a>
        </div>
        <div class="row">
          <a href="/home#clubs-shops" class="col panel-link">
            <img
              src="../../../assets/icons/intro-drone-icon.png"
              class="img-fluid"
              alt="..."
            />
            اندية الدرونز
          </a>
          <a href="/home#clubs-shops" class="col panel-link">
            <img
              src="../../../assets/icons/intro-wallet-icon.png"
              class="img-fluid"
              alt="..."
            />
            المتاجر
          </a>
        </div>
        <div class="row">
          <a href="/home#memberships" class="col panel-link">
            <img
              src="../../../assets/icons/intro-card-icon.png"
              class="img-fluid"
              alt="..."
            />
            العضويات
          </a>
          <a href="/home#certfications" class="col panel-link">
            <img
              src="../../../assets/icons/intro-star-icon.png.png"
              class="img-fluid"
              alt="..."
            />
            الشهادات الاحترافية
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-4 drone-container">
      <img
        src="../../../assets/images/intro-drone.svg"
        alt="..."
        [@imageMove]
      />
    </div>
  </div>
</div>
