<div class="panel container-fluid">

  <div class="row justify-content-center align-items-center">
    <div class="half-circle-bg">

      <div class="membership-image rounded mx-auto d-block">
        <img src="../../../assets/images/memberships-drone.png" />
      </div>
    </div>

  </div>

  <div class="row-fluid justify-content-center align-items-centerr memberships-txt-style">
    <div class="title">العضويات</div>
    <div class="description">
      الاشتراك بعضوية الاتحاد للحصول على مزايا عديدة منها، <br />
      خصومات على مشتريات الدرونز
    </div>
  </div>
</div>
