<div class="panel trainig-panel">

    <div class="row justify-content-start align-items-center">
      <div class="col-3 suit-bg">
      </div>
      <div class="col trainin-txt">
        <div class="row training-title">
          <h1>التدريب</h1>
        </div>
       <div class="row training-desc">

          استعرض جدول تدريبات الدرونز من مقدمي الخدمة المعتمدين والتسجيل بالنوع والمستوى المناسب

       </div>
       <div class="row">
<app-custom-link text="جدول التدريبات"></app-custom-link>

        </div>
       </div>

      </div>


  </div>
