<div class="container-fluid">
  <img src="assets/images/events-panel.png">
  </div>


<!-- <div >
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <div class="slide__image">
        <img src="assets/images/event1.png" alt="img 3" />
      </div>
      <div class="slide__date">
        <img src="assets/icons/calendar.svg" alt="" />
        <span>مارس 2021</span>
      </div>
      <p> 1 مسابقة "النقط العلم"</p>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="slide__image">
        <img src="assets/images/event1.png" alt="img 4" />
      </div>
      <div class="slide__date">
        <img src="assets/icons/calendar.svg" alt="" />
        <span>مارس 2021</span>
      </div>
      <p> 2 مسابقة "النقط العلم"</p>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="slide__image">
        <img src="assets/images/event1.png" alt="img 5" />
      </div>
      <div class="slide__date">
        <img src="assets/icons/calendar.svg" alt="" />
        <span>مارس 2021</span>
      </div>
      <p> 3مسابقة "النقط العلم"</p>
    </div>
  </ng-template>

</owl-carousel-o>
</div> -->
