<div class="panel cert-container">

  <div class=" justify-content-start">
    <div #certifications></div>
    <div class="col-md-6 cert-clm">
      <h1 *ngIf="isInView" [@fadeInFromLeft] class="cert-title">
        الشهادات الاحترافية
      </h1>

      <div *ngIf="isInView" [@fadeInFromTop] class="cert-desc">
        <div class="desc-title">هل تريد ان تحترف وتتعلم البرمجة والتحكم في الدرونز ؟</div>
        <div class="desc-txt">
          تقدم من خلال البوابة على للحصول على شهادات احترافية في قطاع الدرونز
       </div>

        <button type="button" class="btn btn-outline-secondary btn-style">
          تقدم الان
        </button>
      </div>

    </div>
  </div>

</div>
