
<div class="  footer-panel">
  <footer class="justify-content-center align-items-center py-3 my-4 ">


      <img class="footer-logo" src="../../../assets/images/footer-logo.svg" />


      <div class="btn-container">
        <div class="footer-btn">بوابة الدرونز</div>

    </div>

    <ul class="nav justify-content-center  pb-3 mb-3 footer-nav-style">
      <li class="nav-item "><a href="#" class="nav-link px-2 link">الرئيسية</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2 link">عن الدرونز</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2 link">الفعاليات</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2 link">اندية الدرونز</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2 link">المتاجر</a></li>
      <li class="nav-item "><a href="#" class="nav-link px-2 link">اتصل بنا</a></li>
    </ul>


  <div class="hstack gap-3 footer-social-style">
    <div class="social-icon">
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../../../assets/icons/instagram.png" />
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.facebook.com/" target="_blank">
        <img src="../../../assets/icons/Facebook.png" />
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.Youtube.com/" target="_blank">
        <img src="../../../assets/icons/Youtube.png" />
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.twitter.com/" target="_blank">
        <img src="../../../assets/icons/twitter.png" />
      </a>
    </div>
  </div>


    <app-footer-bar></app-footer-bar>
  </footer>
</div>
